.edit__form {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.edit__image {
    width: 300px;
}

.edit__form .inp {
    height: 40px;
    box-sizing: border-box;
}

.edit__form textarea {
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

