@keyframes ad_animation {
  0% {
    opacity: 0;
    margin-top: 60px;
  }
  100% {
    opacity: 1;
    margin-top: 30px;
  }
}

.main-adv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 50px;
  animation: 1s ease-out 0s 1 ad_animation;
}

.main-advirestment {
  font-size: 30px;
}

@keyframes about_animation {
  0% {
    opacity: 0;
    margin-top: 150px;
  }
  100% {
    opacity: 1;
    margin-top: 100px;
  }
}

.main-about {
  margin-top: 100px;
  text-align: center;
  animation: 1s ease-out 0s 1 about_animation;
}

.main-about > p {
  font-size: 25px;
  margin-top: 40px;
  max-width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main-popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

@keyframes vegetable_animation {
  0% {
    opacity: 0;
    margin-top: 150px;
  }
  100% {
    opacity: 100%;
    margin-top: 50px;
  }
}




